<!DOCTYPE html>
<html>
    <head>
        <title>To-do-list</title>
        <link rel="stylesheet" href="/styles/tostyle.css">
    </head>
    <body>
        <%- body %>
        <script src="/dependencies/toapp.js"></script>
    </body>
</html>
