<body>
        <div id="main">
            <div id="top">
                <div id="remain">0 of 0 remaining</div>
            </div>
            <button id="archive" onclick="archive()"> archive </button>
            <div id="mid"></div>
            <div id="check"></div>
            <div id="input">
                <input id="textinput" type="text" placeholder="add new todo here" autofocus>
                <button id="op" onclick="butClick()">add</button>
            </div>
        </div>